<div class="row" ng-controller="gruposController">
<div class="col-lg-12">
	<div class="alert alert-danger" style="display: none;" id="error_grupo">
		{{error_msg}}
	</div>
	<div class="alert alert-success" style="display: none;" id="ok_grupo">
		{{ok_msg}}
	</div>
	<form role="form">
		<div class="form-group" >
        	<label>Nombre del grupo</label>
            <input class="form-control" placeholder="Título de la nota" ng-model="nombre_grupo" ng-value="nombre_grupo"></input>
        </div>
        <div>
        	<div ng-repeat="miembro in infoGrupo.miembros"> 
        			{{miembro.nombre}} {{miembro.apellido}}
        			<button type="button" class="btn btn-warning" ng-click="desvincularUsuario(miembro.id_usuario, id_grupo)" ng-if="miembro.id_usuario!=id_usuario">X</button>
        		<hr/>
        	</div>
        </div>
        <div>
        	<div class="form-group input-group">
        		<label>Buscar usuarios</label>
	            <input type="text" class="form-control" ng-model="textoBusqueda" ng-change="buscarUsuarios()"></input>
	        </div>
	        <div ng-repeat="usuario in resultadoUsuarios"> 
        			{{usuario.nombre}} {{usuario.apellido}} ({{usuario.email}})
        			<label>
                     	<input type="checkbox" value="" id="esAdministrador_{{usuario.id_usuario}}">
                     	Administrador
                     	</input>
                     </label>
        			<button type="button" class="btn btn-success" ng-click="vincularUsuario(usuario.id_usuario, id_grupo)" ng-if="usuario.id_usuario!=id_usuario">Añadir</button>
        			<hr/>
        	</div>
        </div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" id="accion_modal" ng-click="guardarGrupo(id_grupo)">Guardar grupo</button>
    <button type="button" class="btn btn-danger" id="eliminar" ng-click="desactivarGrupo(id_grupo)" ng-if="id_grupo>0">Eliminar grupo</button>
</div>
</div>