<div class="row" ng-controller="listasCompartidasController">
<div class="col-lg-12">
	<div class="alert alert-danger" style="display: none;" id="error_grupo">
		{{error_msg}}
	</div>
	<div class="alert alert-success" style="display: none;" id="ok_grupo">
		{{ok_msg}}
	</div>
	<form role="form">
		<div class="form-group" >
        	<label>Filtro:</label>
        	<div class="input-group">
            	<input class="form-control" placeholder="Filtro" ng-model="filtro" ng-value="filtro" ng-change="buscarListasCompartidas()"></input>
        		<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        	</div>
        </div>
        <div>
        	<div ng-repeat="lista in resultadolistas"> 
        			<div><b>Nombre: </b>{{lista.nombre}}</div>
        			<div><b>Descripción: </b>{{lista.descripcion}}</div>
        			<div><b>Tipo de lista: </b>{{lista.tipoLista}}</div>
        			<div><b>Items:</b></div>
        			<div ng-repeat="item in lista.items">
        				<ul>
        				<li>{{item.nombre}}</li>
        				</ul>
        			</div>
        			<button type="button" class="btn btn-warning" ng-click="copiarLista(id_grupo, lista.idLista)"><i class="fa fa-copy fa-fw"></i> Copiar lista</button> 
        		<hr/>
        	</div>
        </div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove fa-fw"></i> Cerrar</button>
</div>
</div>