<div class="row">
                <div class="col-lg-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#notas" data-toggle="tab">Notas</a>
                                </li>
                                <li><a href="#listas" data-toggle="tab">Listas</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="notas" ng-controller="notaController" ng-init="getNotasUsuario()">
                                	<div class="row">
										<a href="#" data-toggle="modal" data-target="#modal_generico" ng-click="refrescarModal('nota',0)">
											Nueva nota
										</a> 
									</div>
                                	<div ng-repeat="nota in notas">
	                                    <hr/>
	                                    <h1>
									    	<a href="#" data-toggle="modal" data-target="#modal_generico" ng-click="refrescarModal('nota',nota.idNota)">
									    		{{nota.titulo}}
									    	</a>
									    </h1>
									    <p>{{nota.contenido}}</p>
									    <div>
									        <span class="badge badge-success">Modificado en {{nota.fechaModificacion}} {{nota.horaModificacion}}</span><div class="pull-right"><span class="label">nota personal</span> </div>
									    </div>     
									    <hr/>
								    </div>
                                </div>
                                <div class="tab-pane fade" id="listas" ng-controller="listaController" ng-init="getListasUsuario()">
                                  	<div class="row">
							        	<a href="#" data-toggle="modal" data-target="#modal_generico" ng-click="refrescarModal('lista',0)">
							             	Nueva lista
							          	</a>
						            </div>
                                    <div class="row">
						                <div class="col-lg-12">
						                	<div class="panel-group" id="accordion">
						         				<div class="panel panel-default" ng-repeat="lista in listas">
						                			<div class="panel-heading">
						                         		<h4 class="panel-title">
						                        			<a data-toggle="collapse" data-parent="#accordion" href="#lista_{{lista.idLista}}">{{lista.nombre}}</a>
						                        			<a href="" data-toggle="modal" data-target="#modal_generico" ng-click="refrescarModal('lista',lista.idLista)">icono_editar</a>
						                      			</h4>
						                 			</div>
						              				<div id="lista_{{lista.idLista}}" class="panel-collapse collapse">
						            					<div class="panel-body">
						             						{{lista.descripcion}}
						                    			</div>
						                    			<div>
									        				<span class="badge badge-success">Modificado en {{lista.fecha}} {{lista.hora}}</span><div class="pull-right"><span class="label">nota personal</span> </div>
									    				</div><br/>  
						            				</div>
						        				</div>
						  					</div>
						                </div>
						                <!-- /.col-lg-12 -->
						            </div>
						            <!-- /.row -->
                                </div>
                            </div>
                </div>
</div>