<div class="row">
                <div class="col-lg-12">
                            <!-- Nav tabs -->
                            <h4 ng-show="id_grupo>0">
                            	{{infoGrupo.nombre}}
                            	<a href="" ng-show="id_grupo>0" data-toggle="modal" data-target="#modal_generico" ng-click="refrescarModal('grupo',0,id_grupo)" >
                            		<i class="fa fa-pencil fa-fw"></i>
                            	</a>
                            </h4>
                            <h6 ng-show="id_grupo>0">Miembros: {{miembrosString}}</h6>
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#notas" data-toggle="tab"><i class="fa fa-pencil fa-fw"></i> Notas</a>
                                </li>
                                <li><a href="#listas" data-toggle="tab"><i class="fa fa-list fa-fw"></i> Listas</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="notas" ng-controller="getNotaController" ng-init="getNotasUsuario(id_grupo)">
                                	<div class="row">
										<a href="" data-toggle="modal" data-target="#modal_generico" ng-click="refrescarModal('nota',0,id_grupo)">
											<button type="button" class="btn btn-primary button-dashboard"><i class="fa fa-plus fa-fw"></i> Nueva nota</button>
										</a> 
									</div>
                                	<div ng-repeat="nota in notas">
	                                    
	                                    <h1>
									    	<a href="" data-toggle="modal" data-target="#modal_generico" ng-click="refrescarModal('nota',nota.idNota,id_grupo)">
									    		{{nota.titulo}}
									    	</a>
									    </h1>
									    <p>{{nota.contenido}}</p>
									    <div>
									        <span class="badge badge-success">Modificado en {{nota.fechaModificacion}} {{nota.horaModificacion}}</span><div class="pull-right"><span class="label">nota personal</span> </div>
									    </div>     
									    <hr/>
								    </div>
                                </div>
                                <div class="tab-pane fade" id="listas" ng-controller="getListaController" ng-init="getListasUsuario(id_grupo)">
                                	<div ng-controller="listaController">
                                  	<div class="row">
							        	<a href="" data-toggle="modal" data-target="#modal_generico" ng-click="refrescarModal('lista',0,id_grupo)">
							             	<button type="button" class="btn btn-primary button-dashboard button-dashboard-lists"><i class="fa fa-plus fa-fw"></i> Nueva lista</button>
							          	</a>
							          	<a href="" data-toggle="modal" data-target="#modal_generico" ng-click="refrescarModal('listas_compartidas',0,id_grupo)">
							             	<button type="button" class="btn btn-primary button-dashboard button-dashboard-lists"><i class="fa fa-search fa-fw"></i> Buscar lista compartida</button>
							          	</a>
						            </div>
                                    <div class="row">
						                <div class="col-lg-12">
						                	<div class="panel-group" id="accordion">
						         				<div class="panel panel-default" ng-repeat="lista in listas">
						                			<div class="panel-heading">
						                         		<h4 class="panel-title">
						                        			<a data-toggle="collapse" data-parent="#accordion" href="#lista_{{lista.idLista}}" ng-click="getItemsLista(lista.idLista,id_grupo)"><i class="fa fa-angle-down fa-fw"></i> {{lista.nombre}}</a>
						                        			<a href="" data-toggle="modal" data-target="#modal_generico" ng-click="refrescarModal('lista',lista.idLista,id_grupo)"><i class="fa fa-edit fa-fw"></i></a>
						                      			</h4>
						                 			</div>
						              				<div id="lista_{{lista.idLista}}" class="panel-collapse collapse">
						            					<div class="panel-body">
						             						<i>{{lista.descripcion}} </i>
						                    			</div>
						                    			
						                    			<div ng-repeat="item in items">   
						                    				<div class="checkbox" ng-if="lista.tipoLista=='CHECKLIST'">
														           <label style="font-size: 2em">
														           <input type="checkbox" id="item_value_{{item.idItem}}" ng-model="item.valor" ng-true-value="'1'" ng-false-value="'0'" ng-change="guardarItem(lista.idLista,id_grupo,'CHECKLIST',item.idItem)"></input>
														           <span class="cr"><i class="cr-icon fa fa-check"></i></span>
														                {{item.nombre}}
														                <a href="" ng-click="eliminarItem(lista.idLista,item.idItem,id_grupo)"><i class="fa fa-trash-o fa-fw"></i></a>
														           </label>
														     </div>
														    <div ng-if="lista.tipoLista=='REPARTICION'">
														    	<div class="input-group col-xs-8 col-md-6 item-repart">
														    		<span class="input-group-addon"><label>{{item.nombre}}</label></span>
														    		<input type="text" class="form-control" id="item_value_{{item.idItem}}" ng-model="item.valor" ng-blur="guardarItem(lista.idLista,id_grupo,'REPARTICION',item.idItem)"></input>
														    		<span class="input-group-addon"><a href="" ng-click="eliminarItem(lista.idLista,item.idItem,id_grupo)"><i class="fa fa-trash-o fa-fw"></i></a></span>
																</div>
						                    					<!--<span id="item_{{item.idItem}}">{{item.nombre}}</span>
						                    					<input type="text" id="item_value_{{item.idItem}}" ng-model="item.valor" ng-blur="guardarItem(lista.idLista,id_grupo,'REPARTICION',item.idItem)"></input>
						                    					-->
						                    				</div>
						                    			</div>
						                    			<div class="progress" ng-if="lista.tipoLista=='CHECKLIST'">
															<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ratio}}" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{ratio}}</div>
														</div>
														<hr/>
						                    			
						                    			<div ng-if="lista.tipoLista=='CHECKLIST'">
						                    				<div class="row list-element">
						                    					<label>Añadir un nuevo ítem:</label>
						                    					<div class="input-group col-xs-6 col-md-4">
														    		<input type="text" class="form-control" placeholder="Nuevo ítem" id="item_chk"/>
														    		<span class="input-group-addon"><a href="" ng-click="guardarItem(lista.idLista,id_grupo,'CHECKLIST',0)"><i class="fa fa-save fa-fw"></i></a></span>
																</div>
						                    				</div>
						                    			</div>
						                    			<div class="row" style="margin:10px;" ng-if="lista.tipoLista=='REPARTICION'">
						                    				<b>Añadir un nuevo ítem:</b>
						                    				<div>
						                    					<div class="col-lg-3">
								                    					<input class="form-control" placeholder="Item" id="item"></input>
							                    				</div>
							                    				<div class="col-lg-3">
							                    					<input class="form-control" placeholder="Valor" id="valor"></input>
							                    				</div>
							                    				<div class="col-lg-3">
							                    					<button type="button" class="btn btn-success" ng-click="guardarItem(lista.idLista,id_grupo,'ASIGNACION',0)"><i class="fa fa-save fa-fw"></i> Añadir</button>
							                    				</div>
						                    				</div>
						                    			</div>
						                    			<div>
						                    				<br/>
									        				<span class="badge badge-success">Modificado en {{lista.fecha}} {{lista.hora}}</span><div class="pull-right"><span class="label">nota personal</span> </div>
									    				</div><br/>  
						            				</div>
						        				</div>
						  					</div>
						                </div>
						                <!-- /.col-lg-12 -->
						            </div>
						            <!-- /.row -->
                                </div>
                            </div>
                            </div>
                </div>
</div>